/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1700px) {
	.ocean-articles--article {
		width: 32%;
		height: auto;
	}

	.ocean-articles--article-descr {
		padding: 32px 32px 53px 32px;
		min-height: auto;
		font-size: 18px;
	}
	.ocean-articles--article-descr a {
		margin-bottom: 13px;
	}
	.ocean-articles--article:hover .ocean-articles--article-descr {
		bottom: 0;
	}
	.ocean-articles--read {
		font-size: 20px;
		margin-bottom: -38px;
	}
	.path-page {
		padding: 0 50px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	ul .inner-list{
		margin-top: 20px;
	}
	.main-nav {
		width: 50px;
	}
	#container {
		padding-left: 50px
	}
	.menu-btn i {
		padding: 0px 0px;
    font-size: 35px;
	}
	.ocean-articles--article-descr {
		font-size: 14px;
		padding: 12px 20px 40px 20px;
	}

	.ocean-articles--article-descr a {
		margin-left: 20px;
		font-size: 14px;
	}
	.path-page {
		padding: 0 15px;
	}
	.path-map-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		            -ms-grid-row-align: center;
		        align-items: center; 
	}
	.path-map-block p {
		width: 100%;
		text-align: justify;
		padding: 0;
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		font-size: 13px;
	}
	.path-map-block--img {
		text-align: center;
		-webkit-order: 0;
		-moz-order: 0;
		-ms-order: 0;
		-o-order: 0;
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
		margin: 0;
		margin-bottom: 20px;
	}
	.path-title__position {
		margin: 0;
		text-align: center;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.places-page {
		padding: 0px 10px;
	}

 .footer-category {
		width: 100%;
		float: none;
 }
	.yacht-beginners ul {
		padding-left: 0;
	}
	.yacht-beginners li {
		width: 45%;
	}
	.inner-list li:nth-child(even) {
		text-align: right;
	}
	
	.main-aside {
		width: 100%;
		border: none;
		border-top: 1px solid #d6d6d6;
		border-bottom: 1px solid #d6d6d6;
	}
	.aside-btns-wrap {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding-top: 27px;
	}

	.ocean-articles {
		margin-bottom: 10px;
	}
	.ocean-articles--article-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;	
		margin-top: 35px;
	}
	.ocean-articles--article {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		margin-bottom: 20px;
	}
	.ocean-articles--article .ocean-articles--article-descr {
		opacity: 1;
		position: relative;
		bottom: 0;
	}
	.ocean-articles--all {
		width: 100%;
	}
	.ocean-articles--all__position {
		text-align: right;
		margin: 20px;
	}
	.ocean-articles--article img {
		filter: none;
		-webkit-filter: grayscale(0);
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer-category,
	.yacht-beginners li {
			width: 100%;
			margin: 12px 0;
			padding: 0 5px;
		}
	.inner-list li{
			width: 49%;
		}
	.ocean-articles--name {
		font-size: 24px;
		padding-left: 0;

	}
	.ocean-articles--name::before {
		display: none;
	}
	
	.path-title {
		font-size: 34px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-bread-crumbs__position {
		margin-left: 0;
	}
	.top-bread-crumbs {
		font-size: 13px;
		text-align: center;
	}
	.ocean-articles--article {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.ocean-articles--all {
		font-size: 13px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

 /* Retina Devices, Wide Screens */
@media only screen and (min-width : 1919px) {
	.main-aside {
		width: 253px;
	}
}
@media only screen and (min-width : 2000px) {
	.path-map-block {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between
	}
	.path-map-block p {
			width: 36%;
			margin-left: 190px;
		}
}